</div><!-- end container div-->

<div class="footer-padding">
    <div class="footer">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>&copy;Copyright 2021 iAudit Ltda</p>
    </div>
</div>

</body>
</html>