</div><!-- end container div-->

<div class="footer-padding">
    <div class="footer">
        <i class="social-icon fab fa-facebook-f"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fas fa-envelope"></i>
        <p>&copy;Copyright 2021 iAudit Ltda</p>
    </div>
</div>



<!-- Script retrieved from Bootstrap Crud Data Table For Database with Modal Form -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<script src="/js/index.js"></script>

</body>

</html>